.gradshow-contain {
  border: .65rem solid #253d87;
  border-image-source: linear-gradient(-45deg, #1aadac, #253d87);
  border-image-slice: 1;
}

.gradshow-content {
  max-width: 72em;
}

.gradshow-jumble {
  margin-bottom: 1.95rem;
}

.jumble {
  max-height: 256px;
}

.gradshow-info {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .gradshow-jumble {
    margin-bottom: 0;
  }

  .jumble {
    max-height: 384px;
  }

  .gradshow-info {
    text-align: left;
  }

  .gradshow-contain {
    border-width: .7rem;
  }


}

@media only screen and (min-width: 60em) {

  .gradshow-contain {
     border-width: .75rem;
  }

}
