.play-sound,
.play-sound:focus {
  color: #fff;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-sound:hover {
  color: #fff;
  opacity: .65;
}

.embed-item-video {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.play-sound:focus {
  background: transparent;
  outline: none;
}

@media only screen and (min-width: 38em) {

  .embed-hero {
    padding-top: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .embed-hero {
    padding-top: 56.25%;
  }

  .embed-item-video {
    min-height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    transform: translateX(0);
  }

}
