.profile-topper a {
  color: #fff;
  text-decoration: none;

  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.special,
.profile-topper a:hover {
  opacity: .65;
}

.profile-topper .social-links li:last-child,
.profile-gallery li:last-child {
  margin: 0;
}

@media only screen and (min-width: 60em) {

  .embed-portrait {
    padding-top: 100%;
    height: 100%;
  }

  .portrait {
    height: 100%;
    width: auto;
  }

}
