<section class="about gutter island-2 push">
  <div class="grid">
    <div class="about-tagline unit unit-content-center-horizontal xs-1 s-1 m-1-2 l-1-2">
      <p>REBOOTING<br>THE INDUSTRY<br>ONE GRAD<br>AT A TIME</p>
    </div>
    <div class="about-statement unit unit-content-center-horizontal gutter xs-1 s-1 m-1-2 l-1-2">
      <p class="push-1-2">We are Reboot. We rethink new ways of applying design principles through innovative strategies and new perspectives.</p>
      <p>We are rebooting the industry with fresh thoughts and ideas.</p>
    </div>
  </div>
</section>
