<section class="l-gutter push-2">
  <div class="gradshow-gutter">
    <div class="gradshow-contain island-1-2">
      <div class="grid grid-middle max-length gradshow-content">
        <div class="gradshow-jumble unit unit-content-center xs-1 m-1-2 island-1-2 push m-push-0">
          <img class="jumble img-flex" src="{{site.baseurl}}/images/jumble.svg" alt="Gradshow 2018">
        </div>
        <div class="gradshow-info unit unit-content-center xs-1 m-1-2 island-1-2">
          <div class="text-upper purple">
            <time class="block push-1-2 bold" datetime="2018-04-25T17:00">
              Wed, April 25, 2018
              <br>5:00 p.m. - 9:00 p.m.
            </time>
            <a class="btn btn-link text-upper milli bold" href="https://goo.gl/maps/mTqMj7LHTEk">
              <address class="not-italic">
                Horticulture&nbsp;Building
                <br>1525 Princess Patricia Way
              </address>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
