<section class="l-gutter push-2">
  <div class="gutter">
    <div class="gradshow-contain island-1-2">
      <div class="grid grid-middle max-length gradshow-content">
        <div class="gradshow-jumble unit unit-content-center xs-1 m-1-2 island-1-2 push m-push-0">
          <img class="jumble img-flex" src="{{site.baseurl}}/images/jumble.svg" alt="Gradshow 2018">
        </div>
        <div class="gradshow-info unit unit-content-center xs-1 m-1-2 island-1-2">
          <div class="text-upper">
            <!-- <h3 class="purple exa">Main event</h3> -->
            <time class="block push-1-2 teal bold mega" datetime="2018-04-25">
              Wed, April 25, 2018<br>
              Time to be determined
            </time>
            <address class="not-italic teal bold milli">
              Lansdowne Horticulture Building<br>
              1525 Princess Patricia Way
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
