<section class="push-2" id="profs">
  {% include section-header.html title="Profs" %}
  <ol class="grid list-group l-gutter">
    {% include prof-unit.html
      name="Alain P"
      img="alain-paradis"
    %}
    {% include prof-unit.html
      name="Andrea E"
      img="andrea-emery"
    %}
    {% include prof-unit.html
      name="Andrew B"
      img="andrew-balfour"
    %}
    {% include prof-unit.html
      name="David B"
      img="david-bromley"
    %}
    {% include prof-unit.html
      name="Geoff B"
      img="geoff-brown"
    %}
    {% include prof-unit.html
      name="Greg L"
      img="greg-leblanc"
    %}
    {% include prof-unit.html
      name="Greg T"
      img="greg-treadwell"
    %}
    {% include prof-unit.html
      name="Janet M"
      img="janet-menger"
    %}
    {% include prof-unit.html
      name="Jared L"
      img="jared-lebel"
    %}
    {% include prof-unit.html
      name="Jed L"
      img="jed-looker"
    %}
    {% include prof-unit.html
      name="Robert S"
      img="robert-smith"
    %}
    {% include prof-unit.html
      name="Thomas B"
      img="thomas-bradley"
    %}
    {% include prof-unit.html
      name="Will S"
      img="will-shaw"
    %}
  </ol>
</section>
