<section class="push-2" id="profs">
  {% include section-header.html title="Profs" %}
  <ol class="grid list-group l-gutter">
    {% include prof-unit.html name="Alain P" fullname="Alain Paradis" img="alain-paradis" %}
    {% include prof-unit.html name="Andrea E" fullname="Andrea Emery" img="andrea-emery" %}
    {% include prof-unit.html name="Andrew B" fullname="Andrew Balfour" img="andrew-balfour" %}
    {% include prof-unit.html name="Andrew M" fullname="Andrew Miller" img="andrew-miller" %}
    <li class="unit s-1-2 m-1-3 unit-l-hidden xl-1-6">
      <div class="embed embed-1by1">
        <img class="embed-item" src="https://grads.images.algonquindesign.ca/2018/portraits-home/prof-filler.jpg" alt="" />
      </div>
    </li>
    {% include prof-unit.html name="Anish P" fullname="Anish Parmar" img="anish-parmar" %}
    {% include prof-unit.html name="David B" fullname="David Bromley" img="david-bromley" %}
    {% include prof-unit.html name="Geoff B" fullname="Geoff Brown" img="geoff-brown" %}
    <li class="unit s-1-2 m-1-3 l-1-4 xl-1-6">
      <div class="embed embed-1by1">
        <img class="embed-item" src="https://grads.images.algonquindesign.ca/2018/portraits-home/prof-filler.jpg" alt="" />
      </div>
    </li>
    {% include prof-unit.html name="Greg L" fullname="Greg Leblanc" img="greg-leblanc" %}
    {% include prof-unit.html name="Greg T" fullname="Greg Treadwell" img="greg-treadwell" %}
    {% include prof-unit.html name="Janet M" fullname="Janet Menger" img="janet-menger" %}
    {% include prof-unit.html name="Jared L" fullname="Jared Lebel" img="jared-lebel" %}
    <li class="unit s-1-2 m-1-3 unit-l-hidden xl-1-6">
      <div class="embed embed-1by1">
        <img class="embed-item" src="https://grads.images.algonquindesign.ca/2018/portraits-home/prof-filler.jpg" alt="" />
      </div>
    </li>
    {% include prof-unit.html name="Jed L" fullname="Jed Looker" img="jed-looker" %}
    {% include prof-unit.html name="Robert S" fullname="Robert Smith" img="robert-smith" %}
    {% include prof-unit.html name="Thomas B" fullname="Thomas Bradley" img="thomas-bradley" %}
    {% include prof-unit.html name="Will S" fullname="Will Shaw" img="will-shaw" %}
  </ol>
</section>
