<section class="gutter pad-b-2 pad-t-2" id="thanks">
  <h2 class="text-upper purple push">Thanks to:</h3>
  <div class="grid">
    <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group">
      <li>Lansdowne</li>
      <li>Clocktower Pub Ottawa</li>
    </ul>
    <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group">
      <li>Alain Paradis</li>
      <li>Thomas Bradley</li>
    </ul>
    <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group">
      <li>Friends & Family</li>
      <li>Algonquin College</li>
    </ul>
  </div>
</section>
