<section class="l-gutter" id="thanks">
  <div class="bg-mosaic gutter pad-t-2 pad-b-2">
    <div class="max-length mega">
      <h2 class="text-upper">Thanks you</h2>
      <div class="grid kilo">
        <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group push-0">
          <li>Lansdowne</li>
          <li>Clocktower Pub Ottawa</li>
          <li>Escape Manor</li>
          <li>Vineyard Vixens</li>
          <li>Screamers</li>
          <li>Sharp as Knives</li>
        </ul>
        <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group push-0">
          <li>Typemistress</li>
          <li>Funhaven</li>
          <li>CanvasPop</li>
          <li>Downtown Rideau BIA</li>
          <li>Chances R</li>
          <li>The Grand Pizzaria</li>
        </ul>
        <ul class="unit xs-1 s-1 m-1-3 l-1-3 list-group push-0">
          <li>Alain Paradis</li>
          <li>Thomas Bradley</li>
          <li>Friends & Family</li>
          <li>Algonquin College</li>
        </ul>
      </div>
    </div>
  </div>
</section>
